.container {
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto; /* This centers the container horizontally */
    padding: 0 20px; /* Optional padding for content inside the container */
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}
input {
    border: 2px solid aquamarine;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
}

button {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    border-color: aquamarine;
    background-color: rgb(157, 243, 214);
    padding: 10px;
    color: rgb(118, 118, 118);
    cursor: pointer;
}
h4 {
    color: rgb(116, 116, 116);
}

